body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  height: 100vh;

}
.main {
  flex: 1;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  color: orange;
  margin: 0;
}

h1 {
  font-size: 60px;
}

.tile-img {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 50px;
  margin-bottom: 10px;
}


.card {
  display: inline-block;
  width: 45%;
  text-align: justify;
}

.card.left {
  float: left;
}

.card.right {
  float: right;
}


footer {
  text-align: right;
  color: midnightblue;
}

